
*{
    padding: 0px;
    margin: 0px;
}

.slider{
    
    background: #ccc;
    width: 40px;
    height: 20px;
    border: 2px solid #bbb;
    border-radius: 20px;
}

img{
    height: 200px ;
    width: 180px;
    border-radius: 200%;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-size: cover;
}

ul li{
    width: 250px;
    align-items: center;
    list-style: none;
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0.699);
    font-size: 20px;
}
ul li a {
    color: rgb(228, 228, 228);
    text-decoration: none;
}

ul li a:hover{
    color: rgb(70, 70, 245);
}


/*DIVS*/
.geral{
    text-align: center;
    background-color: rgba(41, 41, 41, 0.37) ;
    align-items: center;
}

.main{

    margin: 0 auto;
    display: flex;
    width: 250px;
    height: 250px;
   align-items: center;
    background-color: rgba(68, 68, 68, 0.473);
    border-radius: 10%;
    
}