@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
p {
    font-family: "Oswald", sans-serif;
}
body{
    background: url("../img/bg-desktop-light.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.geral{
    text-align: center;  
}

ul li a {
    color: black;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    padding: 25.5px;
}

ul li a:hover{
    color: rgb(82, 82, 82);
}

ul li {
    align-items: top/center;
    list-style: none;
    font-size: 20px;
    margin-top: 25px;
    margin-bottom: 20px;
}


ul li:hover {
    background-color: rgba(0, 0, 0, 0.699);
}

.github{
    color: black;
}

img{
    height: 145px ;
    width: 145px;
    border-radius: 80%;
    border: 4px;
    border-style: solid;
    border-color: rgba(24, 24, 24, 0.26);
}

.foto {
    text-align: center;
    padding: 50px 0;    
}
.main{
    margin: 0 auto;
    margin-top: -30px;
    display: flex;
    width: 289px;
    height: 230px;
    align-items: center;
    background-color: rgba(68, 68, 68, 0.473);
    border-radius: 10%;
}
.toggle{
    margin: -5px;
    margin-bottom: -40px;
    height: 40px;
    width: 40px;
}

.container{
    display: inline-flex;
    align-items: center;
    margin-top: 10px;
}


.container .toggle{
    display: flex;
    top: -0%;
    left: -0%;
    width:  60px;
    height: 30px;
    border-radius: 30px;
    background-color: #444;
    transition: 0.3s;
}

.container .toggle .toggle-button{
    position: relative;
    top: 5px;
    left: 5px;
    width:  20px;
    height: 20px;
    border-radius: 50px;
    background-color: white;
    cursor: pointer;
    transition: 0.3s;
}

.container .toggle.active{
    background: cornflowerblue;
}

body .body2{
    background: url(../img/bg-desktop.jpg);
}

.container .toggle.active .toggle-button{
    left: 35px;
}
